@{
    var products = ViewData["Products"] as List<Product>;
    var categories = ViewData["Categories"] as List<Category>;
    var topFourProducts = ViewData["TopFourProducts"] as List<Product>;

}

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
          rel="stylesheet">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          rel="stylesheet" id="bootstrap-css">

    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css"
          rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.css">
    <link href="~/css/home.css" rel="stylesheet" type="text/css" />
 
</head>
<body>
    <div id="menuContainer">
        @Html.Partial("Header")
    </div>
    <div id="content">
    <!-- Slider -->
    <div id="carouselExampleSlidesOnly" class="carousel slide mb-4 mt-4" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="https://cdn.pnj.io/images/promo/228/ngaydoi-1111-1972x640CTA.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="https://cdn.pnj.io/images/promo/227/tabsale-t11-24-1972x640-chung.jpg" class="d-block w-100" alt="...">
            </div>
        </div>
    </div>


    <div class="container mt-5">
        <!-- Sản phẩm nổi bật -->
        <section class="mb-5">
            <h2 class="text-center">Sản Phẩm Mới Nhất</h2>
            <div class="row">
                @if (topFourProducts != null && topFourProducts.Any())
                {
                    @foreach (var p in topFourProducts)
                    {
                        <div class="col-md-3">
                            <div class="card card-hover">
                                <a asp-controller="Home" asp-action="ProductDetail" asp-route-cid="@p.Cid" asp-route-id="@p.Id">
                                    <img src="@p.Thumbnail" class="card-img-top" alt="Product Image">
                                </a>
                                <div class="card-body text-center">
                                    <a asp-controller="Home" asp-action="ProductDetail" asp-route-cid="@p.Cid" asp-route-id="@p.Id">
                                        <h5 class="card-title">@p.Title</h5>
                                    </a>
                                    <p class="card-text">@p.Price$</p>
                                    <form asp-controller="Home" asp-action="AddToCart1" method="post" class="d-inline">
                                        <input type="hidden" name="id" value="@p.Id" />
                                        <input type="hidden" name="quantity" value="1" />
                                        <button type="submit" class="btn btn-success">Thêm vào giỏ hàng</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    }
                }
                else
                {
                    <p>No products available.</p>
                }
            </div>
        </section>

        <!-- Danh mục sản phẩm -->
        <section class="mb-5">
            <h2 class="text-center">Danh Mục Sản Phẩm</h2>
            <div class="row">
                @if (categories != null && categories.Any())
                {
                    @foreach (var c in categories)
                    {
                        <div class="col-md-4 mb-4">
                            <a asp-controller="home" asp-action="SelectCate" asp-route-cid="@c.Id" class="text-decoration-none">
                                <div class="card card-hover text-center">
                                    <img src="@c.Thumbnail" class="card-img-top" alt="Category Image">
                                    <div class="card-body">
                                        <h5 class="card-title">@c.Name</h5>
                                    </div>
                                </div>
                            </a>
                        </div>
                    }
                }
                else
                {
                    <p>No Categories available.</p>
                }
            </div>
        </section>

        <!-- Loạt sản phẩm -->
        <section>
            <h2 class="text-center">Loạt Sản Phẩm</h2>
            <div id="content" class="row">
                @if (products != null && products.Any())
                {
                    @foreach (var p in products)
                    {
                        <div class="product col-md-3 mb-4">
                            <div class="card card-hover">
                                <a asp-controller="Home" asp-action="ProductDetail" asp-route-cid="@p.Cid" asp-route-id="@p.Id">
                                    <img src="@p.Thumbnail" class="card-img-top" alt="Product Image">
                                </a>
                                <div class="card-body text-center">
                                    <a asp-controller="Home" asp-action="ProductDetail" asp-route-cid="@p.Cid" asp-route-id="@p.Id" class="text-decoration-none">
                                        <h5 class="card-title">@p.Title</h5>
                                    </a>
                                    <p class="card-text">@p.Price$</p>
                                    <form asp-controller="Home" asp-action="AddToCart1" method="post" class="d-inline">
                                        <input type="hidden" name="id" value="@p.Id" />
                                        <input type="hidden" name="quantity" value="1" />
                                        <button type="submit" class="btn btn-success">Thêm vào giỏ hàng</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    }
                }
                else
                {
                    <p>No products available.</p>
                }
            </div>

            <div class="d-flex justify-content-center mb-3">
                <button onclick="loadMore()" class="btn btn-primary">Load more</button>
            </div>
        </section>
    </div>
    </div>
    @Html.Partial("Footer")

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.js"></script>
    <script type="text/javascript" src="~/js/home.js"></script>
    <script type="text/javascript" src="~/js/header.js"></script>
    
</body>
</html>
