@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model IEnumerable<Doan.Models.User>

@foreach (var user in Model)
{
    <tr>
        <td>@user.Id</td>
        <td>@user.User1</td>
        <td>@user.Fullname</td>
        <td>@user.Email</td>
        <td>@user.PhoneNumber</td>
        <td>@(user.IsAdmin ? "Admin" : "User")</td>
        <td>@user.createdAt.ToString("yyyy-MM-dd HH:mm:ss")</td>
        <td>
            <button type="button" class="btn btn-warning btn-sm" onclick="editUser(@user.Id)">Edit</button>
            <button type="button" class="btn btn-danger btn-sm" onclick="deleteUser(@user.Id, '@user.Fullname')">Xóa</button>
        </td>
    </tr>
}
