
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Admin</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/admin.css" rel="stylesheet" />
</head>
<body>

    @Html.Partial("Menuleft")


    <!-- Nội dung chính -->
    <div class="content">
        <h1>Chào mừng đến với Admin Dashboard</h1>
        <div class="card">
            <h3>Thống kê</h3>
            <p>Tổng số người dùng: @ViewBag.TotalUsers</p>
            <p>Tổng số sản phẩm: @ViewBag.TotalProducts</p>
            <p>Tổng số danh mục: @ViewBag.TotalCategorys</p>
            <p>Tổng số Hóa đơn: @ViewBag.TotalOrder</p>
        </div>
        <div class="card">
            <h3>Hoạt động gần đây</h3>
            <p>Hiển thị các hoạt động gần đây hoặc nhật ký admin tại đây.</p>
        </div>
    </div>
    
</body>
</html>
