
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ManagerDiscount</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/admin.css" rel="stylesheet" />
    <link href="~/css/manageruser.css" rel="stylesheet" />
</head>
<body>
    @Html.Partial("Menuleft")
    <div class="content">
        <h1 class="text-center">Quản lý thẻ giảm giá</h1>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Thể thẻ giảm giá</th>
                    <th>Giá trị</th>
                    <th>Ngày bắt đầu</th>
                    <th>Ngày kết thúc</th>
                    <th>Hành động</th>
                </tr>
            </thead>
            <tbody>
                @if (ViewBag.Products != null)
                {
                    foreach (var discount in ViewBag.Discount)
                    {
                        <tr>
                            <td>@discount.Id</td>
                            <td>@discount.Name</td>
                            <td>@discount.Discount_Value %</td>
                            <td>@discount.Start_Date.ToString("yyyy-MM-dd ")</td>
                            <td>@discount.End_Date.ToString("yyyy-MM-dd ")</td>
                           

                            <td>
                                <a href="" class="btn btn-warning btn-sm">Edit</a>
                                <a href="" class="btn btn-danger btn-sm">Delete</a>
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="8" class="text-center">No users found.</td>
                    </tr>
                }
            </tbody>
        </table>

        <!-- Phân trang -->
        <div class="pagination">
            @if (ViewBag.Num != null && ViewBag.Num > 1)
            {
                <ul>
                    @for (int i = 1; i <= ViewBag.Num; i++)
                    {
                        <li class="@(ViewBag.Page == i ? "active" : "")">
                            <a asp-controller="Admin" asp-action="ManagerDiscount" asp-route-xpage="@i">@i</a>
                        </li>
                    }
                </ul>
            }
        </div>
    </div> -->



</body>
</html>
